.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: black;
  color: black;
  z-index: 1;
}

.logo {
  font-size: 1.5rem;
}

.links a {
  font-size: 1.4rem;
  margin-left: 1.5rem;
  text-decoration: none;
  color: green;
  transition: transform 0.2s ease-in-out;
}

.links a:hover {
  transform: scale(1.05);
}

.active {
  border-bottom: 2px solid darkblue;
}
